torch~=2.9.0
numpy~=2.3.4
pandas~=2.3.3
requests~=2.32.5
scikit-learn~=1.7.2
dotenv
transformers
hmmlearn~=0.3.3
python-binance
matplotlib~=3.10.8
joblib~=1.5.2
scipy~=1.16.2
optuna~=4.8.0
xgboost~=3.2.0